 .container-fluid{
    background-color: black;
    margin-top: -8px;

}


 .nav-item{
    background-color: black;
 }
 .dropdown-menu{
    background-color: black;

 }
#vvv{
   background-color: black;

}
body{
   
}